*/__pycache__/*
/__pycache__/*
backend/app/__pycache__/
backend/app/api/v1/clientes/__pycache__
backend/app/api/v1/__pycache__
backend/__pycache__
backend/app/api/models/__pycache__
backend/app/api/v1/clientes_resources/__pycache__
backend/app/api/v1/compras_resources/__pycache__
backend/app/api/v1/gastos_resources/__pycache__
backend/app/api/v1/productos_resources/__pycache__
backend/app/api/v1/ventas_resources/__pycache__
