$flex-ver()
    display flex 
    flex-direction column
    justify-content center
    align-items center

$flex-hor()
    display flex
    justify-content center 
    align-items center

$size-square(s)
    width s
    height s

$redound-shadow(color)
    background color
    box-shadow 0px 4px 4px rgba(7, 7, 7, 0.45)
    border-radius 10px

$font-bangers(size, color)
    font-family 'Bangers', cursive
    font-size size
    color color