$background = linear-gradient(180.76deg, #86DBD4 45.88%, #FFFFFF 108.81%, rgba(134, 219, 212, 0) 108.82%)
$color-1 = #86DBD4
$color-2 = #95C9E1
$color-3 = #FEE4A7
$color-4 = #F6A9BD
$color-5 = #F4E0E1
$color-font = #59595E
$color-title = #F9F1F1
$color-button = #ECECEC

$margin-left = 15px